div img {
	width: 300px;
	height: 300px;

}

p{
	width: 300px
}

.col-villano{
	width: 33.33%;
}

.filamain{
	padding-bottom: 100px;
	padding-top:100px;

}

@media (max-width: 500px){

	.col-villano{
		width: 100%;
	}
}