.retrato{
	width: 80%;
	height: auto;
}

p, li{
	padding-left: 0px;
	width: 100%;
}

.filamain{
	padding-bottom: 10%;
	padding-top:10%;
}


@media(max-width: 500px){

	.col-1-2{
		width: 100%;
		padding-top: 30%;
	}

}