#centrarimagen{
	width: 40%;
	height: 40%;
	margin: 0 30%;
}

.centrado{
	padding-top: 10%;
	padding-bottom: 10%;
	
}

.col-contacto{
	width: 33.33%;
}

address{
	text-align: center;
}

.active-3{
	text-decoration: none;
}

@media(max-width: 500px){

	.col-contacto{
		width: 100%;
	}

	.filamain{
	 	padding-top: 30%;
	 	padding-bottom: 30%;
	}
}