

/*para desktop*/


	/*Elementos del Body*/

	header{
		background-color: #2FEA11;
		top: 0px;
		width: 100%;
		height: 130px;

		
	}


	footer{
		bottom: 0px;
		width: 100%;
		height: 150px;
		text-align: center;
		
	}

	body{
		background-color: black;
		
	}

	/* Elementos de la grilla*/
	.fila {
		margin: 0px;
		padding: 0px;
		width: 100%;
		display: inline-block;
	}


	[class*=col-] {
		float: left;
	}

	.col-1-1 {
		width: 100%;
		
	}

	.col-1-2 {
		width: 50%;
	}

	.col-1-3 {
		width: 33.33%;
	}

	.separate-1-3{
		margin-left: 33.33%
	}

	.separate-1-2{
		margin-left: 50%
	}
	/*Elementos de Posicion*/

	.fija {
		position: fixed;
		left: 0px;
		right: 0px;
	}

	#derecha{
		position: relative;
		left: 100px:;
	}



	/*Indice*/

	.indice{
		font-size: 130%;
		margin: 0;
	    overflow: hidden;
	    background-color: #2FEA11;
	    height: 130px;

	}


	nav a{
		display: inline-block;
	    color: white;
	    text-align: center;
	    text-decoration: underline;
	    float: left;
	    padding: 10% 2% 0% 4%;
	    float: none;
	}

	ul{
		padding-right:40px;
		margin-top: 0%;
	}
	li{
		list-style-type:none;
		display: inline;
		text-align: center;

	}



	/*Elementos de texto*/

	h1 , p ,address, li, strong{
		color:white;
		text-decoration: none;
	}





	/*Elementos de imagen*/

	#logo{
		height: 100px;
		width: auto;
		padding-top: 10px;
    	float: left;
	 }

	/*Elementos de Tamaño*/

	#pequeno{
		width:15px;
		height:15px;

	}
	 
	#mediano{
		width: 90px;
		height:90px;
		margin: 0 5%;


	}

@media (min-width: 440px)and (max-width:800px ){


	.indice{
		padding-top: 2%;
	}

	.indice a{
		display: block;
		font-size: 100%;
	 
	}

	nav a{
		padding-top: 2%;
	}
	footer{
		height: 100px;
	}
	ul{
		padding-right: 40px;
	}

	#mediano{
		width: 70px;
		height: 70px;
		
	}

	#pequeno{
		width:10px;
		height:10px;
	}

}

@media(max-width: 440px){
	/*para iphone 5,6,6plus,galaxy s5, Nexus 5X, Nexus 5P*/



	.indice{
		margin: 0 5%;
		font-size: 100%;

	}

	.indice a{
		display: block;
		
	 
	}

	footer{
		height: 100px;
	}
	ul{
		padding-right: 40px;
	}

	#pequeno{
		width:10px;
		height:10px;
	}

	#mediano{
		width: 50px;
		height: 50px;
		
	}

	#logo{
		width: 120%;
		padding-top: 10%;
	}
}

@media (orientation: landscape) and(max-height: 500px){
	/*para iphone 5 lanscape*/

	.indice {

	    font-size: 80%;
	    padding-top: 10%;
	}

	.indice a{
		display: block;
	}

	#logo{
		width: auto;
		padding-top:10%; 
	}

	ul{
		padding-right: 6%;
	}



}

	

