div img {
	width: 300px;
	height: 300px;

}

p{
	width: 300px
}

.col-villano{
	width: 33.33%;
}

.filamain{
	padding: 10% 2% 10% 8%;
}

.titulo{
	padding-top: 2%;
}

@media (max-width: 500px){

	.col-villano{
		width: 100%;
	}
}