

/*para desktop*/


	/*Elementos del Body*/

	header{
		background-color: #2FEA11;
		top: 0px;
		width: 100%;
		height: 130px;
		
	}


	footer{
		bottom: 0px;
		width: 100%;
		height: 150px;
		text-align: center;
		
	}

	body{
		background-color: black;
		margin: 
		
	}

	/* Elementos de la grilla*/
	.fila {
		margin: 0px;
		padding: 0px;
		width: 100%;
		display: inline-block;
	}


	[class*=col-] {
		float: left;
	}

	.col-1-1 {
		width: 100%;
		
	}

	.col-1-2 {
		width: 50%;
	}

	.col-1-3 {
		width: 33.33%;
	}

	.separate-1-3{
		margin-left: 33.33%
	}

	.separate-1-2{
		margin-left: 50%
	}
	/*Elementos de Posicion*/

	.fija {
		position: fixed;
		left: 0px;
		right: 0px;
	}

	#derecha{
		position: relative;
		left: 100px:;
	}



	/*Indice*/

	.indice{
		font-size: 130%;
		margin: 0;
	    overflow: hidden;
	    background-color: #2FEA11;

	}


	nav a{
		display: inline-block;
	    color: white;
	    text-align: center;
	    text-decoration: underline;
	    float: left;
	    padding: 20% 2% 0% 2%;
	}

	ul{
		padding-right:3%;
		margin-top: 0%;
	}
	li{
		list-style-type:none;
		display: inline;
		text-align: center;

	}



	/*Elementos de texto*/

	h1 , p ,address, li, strong{
		color:white;
		text-decoration: none;
	}





	/*Elementos de imagen*/

	#logo{
		height: auto;
		width: 60%;
		padding-top: 2%;

	 }

	/*Elementos de Tamaño*/

	#pequeno{
		width:2%;
		height:2%;

	}
	 
	#mediano{
		width:10% ;
		height:10%;
		margin: 0 5%;


	}



/*@media only screen and  (min-width: 767) and (max-height: 1025){

/*para ipad*/

	/*#logo{
		width: 110%;
	}

	.indice{
		padding:10% 5% 5% 8%;
		font-size: 100%;
	}

	.indice a{
		display: block;
		
		padding-top:0%; 
	}

	ul{
		padding-right: 6%;
	}
	header{
		height: 100px;
	}

	ul{
		padding-right: 10%;
	}

	#pequeno{
		width:5%;
		height:5%;
	}

	#mediano{
		width: 20%;
		height: 20%;
		
	}
	
}

*/
@media(max-width: 440px){
	/*para iphone 5,6,6plus,galaxy s5, Nexus 5X, Nexus 5P*/

	header{
		height: 100px;
	}

	.indice{
		padding:10% 5% 5% 8%;
	}

	.indice a{
		display: block;
		font-size: 90%;
		padding-top:0%; 
	}

	ul{
		padding-right: 10%;
	}

	#pequeno{
		width:5%;
		height:5%;
	}

	#mediano{
		width: 20%;
		height: 20%;
		
	}

	#logo{
		width: 120%;
		padding-top: 10%;
	}

	.separate-1-3{
		margin-left: 20%;
	}

	.col-1-3{
		width: 40%;
	}

	.col-1-1{
		padding-top: 20%;
	}
}

@media (orientation: landscape) and(max-height: 500px){
	/*para iphone 5 lanscape*/

	.indice {

	    font-size: 90%;
	    padding-top: 10%;
	}

	.indice a{
		display: block;
	}

	#logo{
		width: 110%;
		padding-top:10%; 
	}

	ul{
		padding-right: 6%;
	}



}

	

